@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.bs-grid tr.focus {
    background-color: rgba(65,137,199, 0.5);
}

.bs-grid tr.focus.selected {
    background-color: rgba(85, 124, 159, 0.5);
}
